<h2>list of houses</h2>
<table id="house_list">
  
   <tr> 
    <td id="location">LOCATION</td>
    <td id="built_area" > AREA sq ft</td>
    <td id="rent">EXPECTED RENT</td>
  </tr>
 
  
  <% @houses.each do |h| %>
    
    
    <tr>
    <td class="location">   <a href= <%= "/houses/1"%> ><%= h.location %></td> 
    <td class="built_area"><%= h.built_area %></td>
    <td class="rent"><%= h.rent %></td></a>
     
  </tr>
  <% end %>
</table>    
